main{
    background-color: #000000;
}

section{
    display: grid;
    place-items: center;
}

#section-1{
    background-color: red;
}

#section-2{
    background-color: white;
}

#section-3{
    background-color: black;
}

#section-4{
    background-color: yellow;
}

#section-5{
    background-color: purple;
}

#section-6{
    background-color: cyan;
}

#section-7{
    background-color: blue;
}


@media screen and (max-width: 800px){
    main{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 10fr 2fr 2fr 2fr 2fr;
        gap: 10px;
    }
    #section-1{
        grid-area: 1/1/2/3;
    }
    
    #section-2{
        grid-area: 2/1/3/3;
    }
    
    #section-3{
        grid-area: 3/1/4/3;
    }
    
    #section-4{
        grid-area:4/1/5/2;
    }

    #section-5{
        grid-area:4/2/5/3;
    }

    #section-6{
        grid-area:5/1/6/3;
    }

    #section-7{
        grid-area:6/1/7/3;
    }
}

@media screen and (min-width:800px){
    main{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr 10fr 5fr 2fr;
        gap: 10px;
    }
    #section-1{
        grid-area: 1/1/2/4;
    }
    
    #section-2{
        grid-area: 2/1/4/3;
    }
    
    #section-3{
        grid-area: 4/1/5/2;
    }
    
    #section-4{
        grid-area: 4/2/5/3;
    }

    #section-5{
        grid-area: 2/3/3/4;
    }

    #section-6{
        grid-area: 3/3/4/4;
    }

    #section-7{
        grid-area: 4/3/5/4;
    }
}