body{
    background-color: cyan;
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    width: 100%;
    background-color: #434343;
    display: none;
}

@media (width > 800px) {
    header{
        display: block;
    }
}

p{
    min-height: 460px;
    width: 300px;
    border-radius: 30px;
    background-color: yellowgreen;
    padding: 20px;
    text-align: justify;
}

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

@media (width < 650px){
    section{
        flex-direction: column;
        gap: 20px;
    }
}

footer{
    height: 100px;
    width: 100%;
    background-color: white;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media print {
    footer{
    display: block;
    }
}





/* 
=========================================================================
Xavier BSD2 2023
=========================================================================
 */